# Discord
DISCORD_TOKEN=seu_token_aqui # Substitua pelo token do seu bot
DISCORD_CLIENT_ID=1367944270769819788 # Substitua pelo ID do seu bot
ESTOQUE_CHANNEL_ID=1503788015779057735 # Substitua pelo ID do canal onde as mensagens de estoque serão enviadas
DISCORD_GUILD_ID=1343734114389327942 # Substitua pelo ID do seu servidor
TICKET_CATEGORY_ID=1509266429562585229 # Categoria onde os tickets serão criados
# DISCORD_GUILD_ID=seu_guild_id (opcional)

# PostgreSQL
POSTGRES_USER=discord
POSTGRES_PASSWORD=discord123
POSTGRES_DB=discord_stock
DATABASE_URL=postgresql://discord:discord123@postgres:5432/discord_stock?schema=public

# Servidor
PORT=3000

# PIX
PIX_KEY=seu_chave_pix_aqui