# Discord
DISCORD_TOKEN=seu_token_aqui
DISCORD_CLIENT_ID=1367944270769819788
ESTOQUE_CHANNEL_ID=1503788015779057735
# DISCORD_GUILD_ID=seu_guild_id (opcional)

# PostgreSQL
POSTGRES_USER=discord
POSTGRES_PASSWORD=discord123
POSTGRES_DB=discord_stock
DATABASE_URL=postgresql://discord:discord123@postgres:5432/discord_stock?schema=public

# Servidor
PORT=3000

# PIX
PIX_KEY=seu_chave_pix_aqui